.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap:2rem;
  flex-grow: 1;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: #efefef;
}

#main-section {
  display: flex;
  flex-direction: row-reverse;
  gap: 0.5rem;
}